/* Common css styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Work Sans, serif;
}
.btn-primary {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  background: #f15b22;
  border-radius: 5px;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
  color: #fff;
}
.btn-sub-primary {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  background: #fff;
  border-radius: 5px;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
  color: #f15b22;
}

/* Header section styles */
.header {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  max-width: 500px;
  text-align: right;
  margin-right: 230px;
}
.header-title {
  font-size: 65px;
  font-weight: 700;
  line-height: 76px;
  color: #151414;
}
.header-description {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 10px;
}

/* My Failures Section Styles */
main {
  width: 1140px;
  margin: 0 auto;
}

.my-failures {
  display: flex;
  position: relative;
  margin: 150px 0;
}

.failures-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, -50%);
  margin-right: 230px;
}
.failuers-image img {
  width: 500px;
}
.failures-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 20px;
}
.failures-list li i {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 10px;
}
.failures-list li i {
  color: green;
}
.failures-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 10px;
}
/* My Plans Section Styles */

.my-plans {
  text-align: center;
}
.my-plans-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #151414;
  margin-bottom: 35px;
}
.my-plans-content {
  display: flex;
  justify-content: space-between;
}
.my-plans-description img {
  margin-bottom: 25px;
}
.my-plans-description h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
  margin-bottom: 10px;
}
.my-plans-description p {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #737272;
}

/* Call now Sectiion Styles */
.call {
  background-image: url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 130px 0;
  position: relative;
}
.call-now {
  background: linear-gradient(90deg, #f15b22 0%,
  rgba(241, 91, 34, 0) 100%);
  width: 1140px;
  height: 300px;
}
.call-now-content {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 500px;
}
.call-now-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 20px;
  color: #fff;
}

/* Footer Section Styles */
footer {
  background-color: #151414;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  max-width: 1140px;
  text-align: left;
  margin: 0 auto;
}

.footer-left-content {
  margin: 130px 0;
  width: 500px;
}
.footer-left-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
  margin-bottom: 20px;
}
.footer-left-description {
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 15px;
}
.footer-email,
.footer-email {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}
.footer-right-content {
  margin: 130px 0;
}
.footer-social-icon {
  display: flex;
  margin-top: 15px;
}
.footer-social-icon li {
  list-style: none;
  margin-right: 20px;
  height: 35px;
  width: 35px;
  background-color: #fff;
  color: #f15b22;
  position: relative;
  border-radius: 50%;
}
.footer-social-icon{
  font-size: 20px;
  top: 50%;
  left: 50%;
  gap: 10px;
  gap: 10px 20px;
  bottom: 680px;
}

.footer-right-title {
  font-size: 25px;
  line-height: 29px;
  color: #fff;
  margin-bottom: 20px;
}
input#email {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid #fff;
  border-radius: 10px;
}